[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://testpypi.python.org/pypi"
verify_ssl = true
name = "pypitest"

[packages]
Flask = "*"
uWSGI = "*"
actingweb = "*"
pytz = "*"

[dev-packages]
pydevd = "*"

[requires]
python_version = "3.6"
