  option_settings:
      aws:autoscaling:trigger:
        LowerBreachScaleIncrement: '-1'
      aws:autoscaling:trigger:
        UpperBreachScaleIncrement: '1'
      aws:autoscaling:trigger:
        UpperThreshold: '80'
      aws:autoscaling:trigger:
        BreachDuration: '5'
        EvaluationPeriods: '1'
        LowerThreshold: '20'
        MeasureName: CPUUtilization
        Period: '5'
        Statistic: Maximum
        Unit: Percent