option_settings:
  aws:elasticbeanstalk:application:environment:
      APP_HOST_FQDN: stuffbot.greger.io
      APP_HOST_PROTOCOL: https://
      AWS_DB_PREFIX: armyknife_stuff
      AWS_DEFAULT_REGION: us-west-1
      APP_BOT_TOKEN: MzdhOGIyZjMtZTlmMy00Y2Q0LWIwZTQtMDUzODQ5MzdhNzk2YzgyYTJmODktZmQ3
      APP_BOT_EMAIL: stuff@sparkbot.io
      APP_BOT_SECRET: =7@2ALaj&88weAUEt-y+k9_=+gH?XQ
      APP_BOT_ADMIN_ROOM: Y2lzY29zcGFyazovL3VzL1JPT00vOWE4NGEwYjAtMDY0Ni0xMWU3LTkyZWMtMmI2MzE0NTI2Yzky
      APP_OAUTH_ID: C8e851cea45086276d65341625e5eb01ad3ca134ef6d1f9f308dbe7a77476ab4f
      APP_OAUTH_KEY: 73c33bed68127fac61788a8419f88d558490a4859044b11f410ea03469ccdc18