option_settings:
  aws:elasticbeanstalk:application:environment:
      APP_HOST_FQDN: armyknife.greger.io
      APP_HOST_PROTOCOL: https://
      AWS_DB_PREFIX: armyknife_
      AWS_DEFAULT_REGION: us-west-1
      APP_BOT_TOKEN: YzExODAyYjAtZTRiNC00NDEzLThjYzgtNTY4OTdlYjJjNzhkNmU3N2M2YmQtZGFh
      APP_BOT_EMAIL: armyknife@sparkbot.io
      APP_BOT_SECRET: 5pS%z<nNDmhxfCC7?zC(7{SZ#s}~zX
      APP_BOT_ADMIN_ROOM: Y2lzY29zcGFyazovL3VzL1JPT00vNzBjMTQ0YTAtMDcwMy0xMWU3LWI0ZmUtNDE1ZTMxYzVmNmQ1
      APP_OAUTH_ID: C2e24e3732aa60bc29d495e2557fc7515b10695c93f038c20d42b0b448aa1abb3
      APP_OAUTH_KEY: b8b985101e1674ab3cf79f14f6edc7984dc5608768d1d9325372427ffdf88512