<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Welcome to the Army Knife</title>

    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Architects+Daughter|Roboto&subset=latin,devanagari'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href=url_for('static', filename='style.css')>


</head>

<body>

  <body class="welcome">
  <span id="splash-overlay" class="splash"></span>
  <span id="welcome" class="z-depth-4"></span>

  <main class="valign-wrapper">
    <span class="container grey-text text-darken-1 ">

      <p class="flow-text">Welcome to</p>
      <h1 class="title grey-text text-darken-3">Cisco Webex Teams Army Knife!</h1>

      <blockquote class="flow-text">You should have a 1:1 with the Cisco Webex Teams Army Knife bot. Type /help in that room.
      <br>IMPORTANT!! If you have problems, please type /init in the 1:1 room.</blockquote>
  <footer class="page-footer deep-purple lighten-5">
      <div class="container grey-text text-darken-3">Support: <a href="mailto:support@greger.io">support@greger.io</a>
          &nbsp;&nbsp;Copyright &copy; 2018 - Greger Wedel<br>&nbsp;
    </div>
  </footer>
    </span>
  </main>
  </body>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js'></script>


</body>

</html>
