<html>
  <body>
    <h1>This Actor's Trust Relationships</h1>
    <table>
      <tr>
	       <td>Peer ID</td><td>Relationship</td><td>Type</td><td>Link</td><td>Description</td><td>Approved</td><td>Peer Approved</td><td>Verified</td>
      </tr>
    {% for trust in trusts %}
      <tr>
	       <td>{{ trust.peerid }}</td><td>{{ trust.relationship }}</td><td>{{ trust.type }}</td><td><a href="{{ trust.baseuri }}">Base</a></td>
         <td>{{ trust.desc }}</td><td><a href="{{ trust.approveuri }}?_method=PUT&approve=true">Approve({{ trust.approved }})</a></td>
         <td>{{ trust.peer_approved }}</td><td>{{ trust.verified }}</td>
      </tr>
    {% endfor %}
    </table>
  </body>
</html>
