<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Welcome to the Army Knife</title>

    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Architects+Daughter|Roboto&subset=latin,devanagari'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="/static/style.css")>


</head>

  <body class="welcome">

  <main class="valign-wrapper">
    <span class="container grey-text text-darken-1 ">

      <p class="flow-text">Welcome to</p>
      <h1 class="title grey-text text-darken-3">Army Knife!</h1>

	To register fill out the form below. You will be forwarded to Cisco Webex Teams to authorize Army Knife for your account. Please use your Cisco Webex Teams credentials.<br>
  NOTE! Some of the functionality is dependent on listening in to all your rooms. New rooms will be tracked automatically, but due to limitations in the Cisco Webex Teams APIs, it may take 24+ hours before new rooms are tracked.<br>
  <br>
        <blockquote>
  WARNING!!!! By signing up, you accept that all your rooms and all your messages will be tracked and the sender of messages identified. No messages are stored, but all room titles are. Your own messages will be retrieved to look for your /commands, however, none will be stored. In order to track activity and offer a good user experience, all room titles will be stored. When you request messages from a tracked user using the /get command or do a /pin command, those messages will be retrived real-time from Cisco Webex Teams and delivered to the room where you issued the /get command (or to the Army Knife Control room for /pin), but no messages will be stored.<br>
  This service is an experiment and has no guarantees and may be discontinued at any time. Also note that some Cisco Webex Teams API requests may be logged for debugging purposes. These will never contain the content of the message, but may contain other information about users and rooms.<br><br>
  Please contact Greger Wedel on Cisco Webex Teams if you have questions.
            </blockquote>

    <form action="/" method="post">
      <div><label>
          Your Cisco Webex Teams email:
          <input type="text" name="creator" maxlength="100"/>
      </label></div>
      <div><input type="submit" value="Create new ArmyKnife user"></div>
    </form>

  <footer class="page-footer deep-purple lighten-5">
      <div class="container grey-text text-darken-3">Support: <a href="mailto:support@greger.io">support@greger.io</a>
          &nbsp;&nbsp;Copyright &copy; 2018 - Greger Wedel<br>&nbsp;
    </div>
  </footer>
    </span>
  </main>
  </body>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js'></script>


</body>

</html>

