<!--suppress HtmlFormInputWithoutLabel -->
<html>
  <body>
    You will be added to the Army Knife room <b>{{ title }}</b> by filling in your address below. If you are not already a Army Knife user, you will be invited to Army Knife.
    <form method="post">
      <div>Your email address:<input type="text" name="email" maxlength="100" /></div>
      <input type="hidden" name="id" value="{{ id }}">
      <div><input type="submit" value="Join room"></div>
    </form>

  </body>
</html>
