<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Failed subscription to the Army Knife</title>

    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Architects+Daughter|Roboto&subset=latin,devanagari'>
    <link rel="stylesheet" href='/static/style.css'>

</head>


<body class="welcome">

  <main class="valign-wrapper">
    <span class="container grey-text text-darken-1 ">

      <h1 class="title grey-text text-darken-3">Something went wrong!</h1>

      <blockquote class="flow-text">There was an error when trying to process your subscription. Your card was probably not accepted.
      </blockquote>


      <footer class="page-footer deep-purple lighten-5">
          <div class="grey-text text-darken-3">Support: <a href="mailto:support@greger.io">support@greger.io</a>
        </div>
      </footer>
    </span>
  </main>

</body>

</html>
